@model EDProject1.Models.DataTableVm

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<table class="display" id="dataTable" style="width:1000px;">
    <thead>
        <tr>
            @foreach (var item in Model.ColumnNames)
            {
                <th>@item</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Rows)
        {
            <tr>
                @foreach (var cell in row)
                {
                    <td>@cell</td>
                }
            </tr>
        }

    </tbody>


</table>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "iDisplayLength": 100,
            "ordering": true,
            "columnDefs": [
                { "orderable": false,}
            ],
        });
    });
</script>
